<!--
   index.html
   
-->

<html>
  <head>
    <title>树莓派家庭监控小车</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <style>
		body {
			text-align:;
		}
    </style>
  </head>
  <body>
    <h1 class="Titletext">网页控制电机移动测试</h1>
	<hr>
	<h4><a href="/up"class="button">↑</a></h4>
	<h4><a href="/left"class="button">←</a>
  <a href="/back"class="button">↓</a>
  <a href="/right"class="button">→</a>
  <h4>






  {% comment %} <h4><img src="{{url_for('video_feed')}}" width="30%"></h4>
	<h4><a href="/stop"class="button1">stop</a></h4>
	<h4> 水平角度: <a href="/pan/-"class="button1">-</a> [ {{ panServoAngle }} ] <a href="/pan/+"class="button1">+</a> </h4>
	<h4> 垂直角度: <a href="/tilt/-"class="button1">-</a> [ {{ tiltServoAngle }} ] <a href="/tilt/+"class="button1">+</a> </h4> 

  <h4> 速度<a href="/SpeedDown"class="button1">SpeedDown</a> [ {{ speed }} ] <a href="/SpeedUp"class="button1">SpeedUp</a> </h4>
	<hr> {% endcomment %}
  </body>
</html>
